@model Domain.Models.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Видалити";
}

<div class="content-wrapper " style="height: 900px!important; overflow-y: scroll;">
    <div style="width:600px; margin: 0 auto;">
        <p style="font-size: 24px!important" class="login-box-msg">Видалити</p>
        <br />
    </div>
    <h3>Ви впевнені, що хочете видалити даний запис?</h3>
    <div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Literal, "Курс", htmlAttributes: new { @style = "font-weight: bold; font-size: 14px" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Literal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p>
            @Html.ActionLink("Видалити", "Delete", new { id = Model.Id }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
            @Html.ActionLink("Повернутися до списку", "Index", new { }, new { @style = "font-size: 16px!important", @class = "btn btn-primary" })
        </p>
    }
    </div>
</div>