@model Planner.Models.EditModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div class="content-wrapper">
    <section id="main-content">

        <div class="row">
            @*@Html.Action("Edit", "Account", new { userName = User.Identity.Name })*@
            <div class="form-group">
                <table class="table">
                    <tr>
                        <td>
                            E-mail:
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            П.I.Б.
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.LastName)  @Html.DisplayTextFor(m => m.FirstName)  @Html.DisplayTextFor(m => m.ThirdName) 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Google Scholar
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.ScholarLink)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Orcid Scholar
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.OrcidLink)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ступiнь
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.AcademicTitleEnum)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Звання
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.DegreeEnum)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Посада
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => m.PositionEnum)
                        </td>
                    </tr>
                </table>

            </div>


            @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data", @data_ajax = "false" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                
                <div class="form-group has-feedback">
                    Завантажити фото: @Html.TextBoxFor(m => m.ProfilePicture, new { type = "file" })
                </div>                

                <div class="row">
                    <div class="col-xs-8">
                    </div><!-- /.col -->
                    <div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Підтвердити</button>
                    </div><!-- /.col -->
                </div>




            }
        </div>


    </section>
</div>