@model IEnumerable<Domain.Models.PlanConclusion>

@{
    ViewBag.Title = "Висновки до індивідуального плану";
}

<h2>Висновки до індивідуального плану</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signature)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Детальніше", "Details", new { id = item.Id }) |
            @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
