@{
    ViewBag.Title = "Home Page";
}
@model List<Planner.Models.PublicationDraft>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Головна сторінка
            <small>Панель</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Планувальник</a></li>
            <li class="active">Публікації</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @Html.Partial("PublictionMenuPartial")
        @if (Model != null && Model.Count != 0)
        {
            <div class="row">

                <table class="table table-responsive col-lg-10">
                    <thead>
                        Публикации
                    </thead>
                    <tr>
                        <th>Назва</th>
                        <th>Характер роботи</th>
                        <th>Вихідні дані</th>
                        <th>Обсяг (стор.)</th>
                        <th>Співавтори</th>
                        <th>Дата створення</th>
                        <th></th>
                    </tr>

                    @foreach (var pub in Model)
                    {
                        <tr>
                            <td>@pub.PublicationType<br>@pub.Name</td>
                            <td>@pub.StoringType</td>
                            <td>@pub.Output</td>
                            <td>@pub.Pages</td>
                            <td>@pub.Collaborators</td>
                            <td>@pub.CreatedAt</td>
                            <td><a href="~/Publication/Edit/@pub.Id">Редагувати</a></td>
                        </tr>
                    }


                </table>
            </div>
        }
    </section>
</div><!-- /.content-wrapper -->

