@{
    ViewBag.Title = "Публікації";
}
@model List<Domain.Reports.PublicationForm11>
<div class="content-wrapper">
    <div class="form-group">
        <div class="login-box-body" data-ng-controller="registerController as registerCtrl" data-ng-init="registerCtrl.init()">
            @ViewBag.userEdit
            <p class="login-box-msg">Публікації</p>

            <!-- Main content -->
            <section class="content">
                @Html.Partial("PublictionMenuPartial")
                @if (Model != null && Model.Count != 0)
            {
                    <div class="row">

                        <table class="table table-striped table-bordered col-lg-10">
                            <thead>
                                Публікації

                                <tr>
                                    <th>Назва</th>
                                    <th>Характер роботи</th>
                                    <th>Вихідні дані</th>
                                    <th>Обсяг (стор.)</th>
                                    <th>Співавтори</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var pub in Model)
                                {
                                    <tr>
                                        <td><b>@pub.PublicationType</b><br>@pub.Name</td>
                                        <td>@pub.StoringType</td>
                                        <td>@pub.Output</td>
                                        <td>@pub.Pages</td>
                                        <td>
                                            @if (pub.Collaborators != null && pub.Collaborators.Count != 0)
                                            {
                                                <span>@pub.Collaborators[0].Name</span>
                                                foreach (var col in pub.Collaborators.Skip(1))
                                                {
                                                    <span>, @col.Name</span>
                                                }
                                            }
                                            else
                                            {
                                                <span>Немає співавторів</span>
                                            }


                                        </td>
                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                }
                else
                {
                    <p>У вас ще немає публікацій</p>
                }
            </section>
        </div><!-- /.content-wrapper -->
    </div>
</div>