@model Planner.Models.EditModel
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<script>
    var userState = {
        facultyId: @Html.Raw(JsonConvert.SerializeObject(Model.FacultyId)),
        departmentId: @Html.Raw(JsonConvert.SerializeObject(Model.DepartmentId))
    };
</script>
<script src="~/Scripts/App/Factories/rolesFactory.js"></script>
<div class="content-wrapper">
    <div class="form-group">
        <div class="login-box-body" data-ng-controller="registerController as registerCtrl" data-ng-init="registerCtrl.init()">
            @ViewBag.userEdit
            <p class="login-box-msg">Редагування даних</p>
            @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data", @data_ajax = "false" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Електронна адреса", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Прізвище", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Ім'я", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.ThirdName, new { @class = "form-control", placeholder = "Отчество", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.ScholarLink, new { @class = "form-control", placeholder = "Профiль у Google Scholar" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.OrcidLink, new { @class = "form-control", placeholder = "Профiль у ORCID" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EnumDropDownListFor(m => m.AcademicTitleEnum, "-- Виберiть ступiнь --", new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EnumDropDownListFor(m => m.DegreeEnum, "-- Виберiть звання --", new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EnumDropDownListFor(m => m.PositionEnum, "-- Виберiть посаду --", new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group has-feedback">
                    <div class="form-control">
                        <span>Оновити аватар</span>
                        @Html.TextBoxFor(m => m.ProfilePicture, new { type = "file", @style = "display: inline-block; float: right" })
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <select class="form-control" data-ng-model="faculty" name="FacultyId"
                            data-ng-options="c.Name for c in faculties track by c.Id" required>
                        <option value="">-- Виберiть факультет--</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <select class="form-control" name="DepartmentId" data-ng-model="department" data-ng-disabled="!faculty"
                            data-ng-options="s.Name for s in departments track by s.Id" required>
                        <option value="">--Виберiть кафедру--</option>
                    </select>
                </div>

                if (User.IsInRole("Admin"))
                {
                    <div class="form-group has-feedback">
                        <select class="form-control" name="role">
                            <option value="User" selected>--Виберiть роль користувача--</option>
                            <option ng-repeat="role in roles" value="{{role.Name}}">{{rolesFactory[role.Name]}}</option>
                        </select>
                    </div>
                }

                <div class="row">
                    <div class="col-xs-8">
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Підтвердити</button>
                    </div><!-- /.col -->
                </div>




            }
        </div>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->